body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0; 
}

main {
  flex: 1;
}

/* Página index */
.about {
  flex: 1;
}

footer {
  background-color: rgb(240, 243, 243);
  padding: 3%;
  text-align: center;
}